<article class="article field{{project.field.id}}">
    <header>
        <h2><a href="{{ url('project_show', { 'id': project.id }) }}">{{project.title}}</a></h2>
        <div class="authors">
            <strong>Autors:</strong>
            <a href="{{ url('author_show', { 'id': project.author.id }) }}" rel="author">{{project.author.firstname}} {{project.author.lastname}}</a>
            {% for projectauthor in project.projectauthors %}
                {% if projectauthor.author.id != 0 %}
                    , <a href="{{ url('author_show', { 'id': projectauthor.author.id }) }}" rel="author">{{projectauthor.author.firstname}} {{projectauthor.author.lastname}}</a>
                {% else %}
                    <span rel="author">, {{projectauthor.firstname}} {{projectauthor.lastname}}</span>
                {% endif %}
            {% endfor %}
        </div>

    </header>
    <footer class="row">
        <div class="col-xs-4">
            <a href="{{ url('project_show', { 'id': project.id }) }}" class="btn buttonfield{{ project.field.id }}">Consulta'l</a>

            {% set totalstars = 0 %}
            {% for rating in project.ratings %}
                {% set totalstars = totalstars + rating.stars %}
                {% if loop.last == true %}
                    {% set totalstars = (totalstars / project.ratings|length) | number_format(0) %}
                {% endif %}
            {% endfor %}

            {% for i in 1..totalstars %}
                <span class="glyphicon glyphicon-star star" aria-hidden="true"></span>
            {% endfor %}
        </div>

        <div class="col-xs-2 col-xs-offset-2">
            <time datetime="{{ project.publicationdate | date('Y-m-d\\TH:i:sP') }}">{{ project.publicationdate | date('d/m/Y') }}</time>
        </div>

        <div class="col-xs-2">
            {% if project.finish == 0 %}En procés{% else %}Finalitzat{% endif %} | {{project.projecttype.name}}</span>
        </div>

        <div class="col-xs-2">{{project.field.name}}</div>
    </footer>
</article>