<form action="/search" method="post">
	<div><input type="text" name="keyword" id="keyword" placeholder="Paraules clau" required></div>
	<hr>
	<p><label for="fieldid">Tria el teu àmbit</label></p>
	{% for field in fields %}
		<a href="javascript:void(0);" id="field{{ field.id }}" class="fieldlabels label label-default" data-id="{{ field.id }}">{{ field.name }}</a>
	{% endfor %}
	<input type="hidden" id="fieldid" name="fieldid" value="">
	<hr/>
	
	<p><label for="fieldid">Tipus de treball</label></p>

	{% for projecttype in projecttypes %}
		<label for="projecttype{{ projecttype.id }}">
			<input type="radio" name="projecttype" id="projecttype{{ projecttype.id }}" value="{{ projecttype.id }}"> {{ projecttype.name }}
		</label>
	{% endfor %}

	<hr>

	<input class="buscar" type="submit" name="submit" id="submit" value="Buscar"> 
</form>