{% extends 'base.html.twig' %}

{% block content %}
    <section class="container" >
            <div class="row">
                    <div class="col-md-10">
                            {% include 'searchform.html.twig' %}
                            
                             <div class="searchresults">
                                <header><h1>RESULTATS</h1></header>

                                {% for project in projects %}
                                    <article class="article" id="field{{project.fieldid}}">
                                        <header>
                                            <h2>{{project.title}}</h2>
                                            <strong>Autors:</strong>
                                        </header>
                                        <strong><strong
                                        <footer class="row">
                                            <div class="col-xs-4">
                                                <a href="/project/{{project.id}}" class="btn btn-primary">Consulta'l</a> [[Rating goes here]]
                                            </div>

                                            <div class="col-xs-6 col-xs-offset-2">
                                                <span class="metadata">{{ project.publicationdate | date('d/m/Y') }} | {% if project.finish == 0 %}En procés{% else %}Finalitzat{% endif %} | {{project.projecttype}}</span>
                                            </div>
                                        </footer>
                                    </article>
                                {% endfor %}
                            </div>
                    </div>
            </div>
    </section>
{% endblock %}