{% extends 'oGooseBundle:base.html.twig' %}

{% block content %}
    <section class="container searchresults">
        <div class="row">
            <div class="author">
                <div class="row">

                    <div class="col-xs-8">
                        <h2>{{author.firstname}} {{author.lastname}}</h2>
                        
                        <div class="subprofile">
                            {% if author.profile is not empty %}<strong>{{author.profile}}</strong>{% endif%}{% if author.location is not empty %}, {{author.location}}{% endif %}
                        </div>
                    </div>

                    <div class="col-xs-4">
                        <img class="avatar right" src="/profileimages/{% if author.avatar is not empty%}{{author.avatar}}{% else %}default.jpg{% endif %}" />
                    </div>

                </div>
                
                
                <div class="bio">
                    <blockquote>{{author.curriculum}}</blockquote>
                </div>
                
                <div class="row social">
                    <div class="col-md-7">
                        {% if author.orcid is not empty %}
                            <a href="http://orcid.org/{{author.orcid}}" target="_blank" class="btn orcid">Currículum</a>
                        {% endif %}
                    </div>
                    <div class="col-md-3 col-md-offset-2 text-left">
                        <div>{% if author.email is not empty %}<span class="glyphicon glyphicon-envelope"></span> <a href="mailto:{{author.email}}">{{author.email}}</a>{% endif %}</div>
                        <div>{% if author.url is not empty %}<span class="glyphicon glyphicon-globe"></span> <a href="{{author.url}}" target="_blank">Pàgina web</a>{% endif %}</div>
                    </div>
                </div>
            </div>
            
            <div class="row">
                    
                <div class="projects">

                    {# Mostrem com a autors, i com a colaboradors, els mateixos treballs, ja que no ho hem separat al controller, per agilitzar#}

                    <h1>Sóc autor{% if author.gender == 'f'%}a{% endif%} de</h1>
                    <div class="row">
                        <section class="containerarticles">                       
                            {% for project in author.projects %}
                                {% include 'oGooseBundle:partials:article.html.twig' %}
                            {% endfor %}
                        </section>
                    </div>
                    
                    <h1>Col·loboro a</h1>
                    <div class="row">
                        <section class="containerarticles">
                            {% for project in author.projects %}
                                {% include 'oGooseBundle:partials:article.html.twig' %}
                            {% endfor %}
                        </section>
                    </div>
                </div>
            </div>

        </div>
    </section>
{% endblock %}