{% extends 'oGooseBundle:base.html.twig' %}

{% block content %}
    <section class="container" >
        <div class="row">
            <div class="project">
                <article class="article field{{project.field.id}}">
                    <header>
                        <h2><a href="/project/{{project.id}}">{{project.title}}</a></h2>
                        <div class="authors">
                            <strong>Autors:</strong>
                            <a href="/author/{{project.author.id}}" rel="author">{{project.author.firstname}} {{project.author.lastname}}</a>
                        </div>

                        <div class="row">
                            <div class="col-xs-4">
                                {% set totalstars = 0 %}
                                {% for rating in project.ratings %}
                                    {% set totalstars = totalstars + rating.stars %}
                                    {% if loop.last == true %}
                                        {% set totalstars = (totalstars / project.ratings|length) | number_format(0) %}
                                    {% endif %}
                                {% endfor %}
                                {% for i in 1..totalstars %}
                                    <span class="glyphicon glyphicon-star star" aria-hidden="true"></span>
                                {% endfor %}
                            </div>

                            <div class="col-xs-1 col-xs-offset-2">
                                <time datetime="{{ project.publicationdate | date('Y-m-d\\TH:i:sP') }}">{{ project.publicationdate | date('d/m/Y') }}</time>
                            </div>

                            <div class="col-xs-1">
                                {% if project.finish == 0 %}En procés{% else %}Finalitzat{% endif %} | {{project.projecttype.name}}</span>
                            </div>

                            <div class="col-xs-1">{{project.field.name}}</div>
                        </div>
                    </header>
                    <div class="abstract">
                        <h4>Breu resum</h4>
                        <p>{{project.abstract}}</p>
                    </div>
                    <footer>
                        <div class="keywords">
                            <span class="glyphicon glyphicon-tags" area-hidden="true"></span> {{project.keywords}}
                        </div>

                        <a href="{{ url('attachment_download', { 'id': project.attachments[0].id }) }}" class="btn btn-primary">Descarrega</a> <span class="updated">actualitzat a {{project.attachments[0].creationdate | date('d/m/Y')}}</span>
                    </footer>
                </article>

                <div>
                    {{section}}
                    <ul class="nav nav-tabs" role="tablist">
                        <li role="presentation" class="{% if section is empty or section == 'reviews'%}active{% endif %}"><a href="#reviews" aria-controls="reviews" role="tab" data-toggle="tab">Valoracions</a></li>
                        <li role="presentation" class="{% if section == 'comments'%}active{% endif %}"><a href="#comments" aria-controls="comments" role="tab" data-toggle="tab">Aportacions</a></li>
                        <li role="presentation"><a href="#log" aria-controls="log" role="tab" data-toggle="tab">Historial</a></li>
                    </ul>

                    <div class="tab-content">
                        <div role="tabpanel" class="tab-pane {% if section is empty or section == 'reviews'%}active{% endif %}" id="reviews">
                            <form method="post" action="{{path('comment_new')}}">
                                <textarea name="comment" placeholder="Escriu el teu missatge" class="comment" required></textarea>
                                <input type="hidden" name="projectid" value="{{project.id}}" />
                                <input type="hidden" name="authorid" value="1" />
                                <input type="hidden" name="type" value="review" />
                                <input type="hidden" name="section" value="reviews" />
                                <input type="submit" value="Enviar valoració" class="btn btn-primary" />
                            </form>

                           {% for review in project.comments if review.type == 'review' %} {# Només reviews #}
                               <blockquote>
                                   <p>{{review.comment}}</p>
                                   <small>
                                       <div class="row">
                                           <div class="col-md-2">
                                               {{review.creationdate | date('d/m/Y')}}
                                           </div>
                                           <div class="col-md-2">
                                               {{review.author.firstname}} {{review.author.lastname}}
                                           </div>
                                       </div>
                                       
                                   </small>
                               </blockquote>
                           {% endfor %}
                        </div>
                        <div role="tabpanel" class="tab-pane {% if section == 'comments'%}active{% endif %}" id="comments">
                           <form method="post" action="{{path('comment_new')}}">
                                <textarea name="comment" placeholder="Escriu el teu missatge" class="comment" required></textarea>
                                <input type="hidden" name="projectid" value="{{project.id}}" />
                                <input type="hidden" name="authorid" value="1" />
                                <input type="hidden" name="type" value="comment" />
                                <input type="hidden" name="section" value="comments" />
                                <input type="submit" value="Enviar aportació" class="btn btn-primary" />
                            </form>

                           {% for review in project.comments if review.type == 'comment' %}{# Només comentaris#}
                               <blockquote>
                                   <p>{{review.comment}}</p>
                                   <small>
                                       <div class="row">
                                           <div class="col-md-2">
                                               {{review.creationdate | date('d/m/Y')}}
                                           </div>
                                           <div class="col-md-2">
                                               {{review.author.firstname}} {{review.author.lastname}}
                                           </div>
                                       </div>
                                       
                                   </small>
                               </blockquote>
                           {% endfor %}
                        </div>
                        <div role="tabpanel" class="tab-pane" id="log">
                            <table class="table">
                                <tr>
                                    <th>Actualitzat</th>
                                    <th>Autor</th>
                                    <th>-</th>
                                </tr>
                                {% for att in project.attachments %}
                                    <tr>
                                        <td>{{att.creationdate | date('d/m/Y') }}</td>
                                        <td>{{att.author.firstname}} {{att.author.lastname}}</td>
                                        <td>
                                            <a href="{{ url('attachment_download', { 'id': att.id }) }}" class="btn btn-primary">Descarrega</a>
                                        </td>
                                    </tr>
                                {% endfor %}
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}