{% extends 'oGooseBundle:base.html.twig' %}

{% block content %}
<section class="container" >
    <div class="row">
            {% include 'oGooseBundle:searchform.html.twig' %}
            {% if projects|length > 0 %}
                <div class="searchresults">
                   <header><h1>Resultats</h1></header>

                   {% for project in projects %}
                       <article class="article field{{project.field.id}}">
                           <header>
                               <h2><a href="{{ url('project_show', { 'id': project.id }) }}">{{project.title}}</a></h2>
                               <div class="authors">
                                   <strong>Autors:</strong>
                                   <a href="/author/{{project.author.id}}" rel="author">{{project.author.firstname}} {{project.author.lastname}}</a>
                               </div>
                               
                           </header>
                           <footer class="row">
                               <div class="col-xs-4">
                                    <a href="/project/{{project.id}}" class="btn buttonfield{{ project.field.id }}">Consulta'l</a>

                                    {% set totalstars = 0 %}
                                    {% for rating in project.ratings %}
                                        {% set totalstars = totalstars + rating.stars %}
                                        {% if loop.last == true %}
                                            {% set totalstars = (totalstars / project.ratings|length) | number_format(0) %}
                                        {% endif %}
                                    {% endfor %}
                                    
                                    {% for i in 1..totalstars %}
                                        <span class="glyphicon glyphicon-star star" aria-hidden="true"></span>
                                    {% endfor %}
                               </div>
                                    
                                <div class="col-xs-1 col-xs-offset-2">
                                    <time datetime="{{ project.publicationdate | date('Y-m-d\\TH:i:sP') }}">{{ project.publicationdate | date('d/m/Y') }}</time>
                                </div>
                                
                                <div class="col-xs-1">
                                    {% if project.finish == 0 %}En procés{% else %}Finalitzat{% endif %} | {{project.projecttype.name}}</span>
                                </div>

                               <div class="col-xs-1">{{project.field.name}}</div>
                           </footer>
                       </article>
                   {% endfor %}
               </div>
            {% else %}
                <div class="row">
                    <div class="alert alert-info col-md-12">
                        Ho sentim, però no s'han trobat resultats per les paraules clau indicades.
                    </div>
                </div>
                
            {% endif %}
    </div>
</section>
{% endblock %}